<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.demo.dao.LockMapper">
  <resultMap id="LockResultMap" type="com.cn.demo.model.UserLock">
    <id column="lock_id" jdbcType="VARCHAR" property="lockId" />
    <result column="error_count" jdbcType="INTEGER" property="errorCount" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="last_login_time" jdbcType="VARCHAR" property="lastLoginTime" />
    <result column="lock_time" jdbcType="VARCHAR" property="lockTime" />
  </resultMap>


  <select id="selIfLock" parameterType="String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user_lock
    where user_id = #{userId,jdbcType=VARCHAR}
  </select>

  <update id="updateLock" parameterType="com.cn.demo.model.UserLock">
    update user_lock
    <set>
      <if test="errorCount != null">
        error_count = #{errorCount,jdbcType=INTEGER},
      </if>
      <if test="lockTime != null">
        lock_time = #{lockTime,jdbcType=VARCHAR},
      </if>
    </set>
    where lock_id = #{lockId,jdbcType=VARCHAR}
  </update>


</mapper>